{% extends "layout.html.twig" %}

{% block title %}GuestBook - All posts{% endblock %}

{% block content %}
    <h3>All posts</h3>
    <hr>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th class="span1"><input type="checkbox"></th>
            <th class="span2">Author</th>
            <th class="span2"></th>
            <th class="span9">Message</th>
            <th class="span2">Created At</th>
        </tr>
        </thead>
        <tbody>
            {% for post in posts %}
            <tr>
                <td><input type="checkbox"> <a href="#"><i class="icon-star-empty"></i></a></td>
                <td><strong>{{ post['author'] }}</strong></td>
                <td><span class="label pull-right">New message</span></td>
                <td><strong>{{ post['message'] }}</strong></td>
                <td><strong>{{ post['created_at'] }}</strong></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <h4>New Post</h4>
    <hr>
    <form method="post">
        <fieldset>
            <input type="text" id="author" name="author" class="input-block-level" placeholder="Name" required="required">
            <input type="text" id="email" name="email" class="input-block-level" placeholder="Email" required="required">
            <textarea rows="3" id="message" name="message" class="input-block-level" placeholder="Description" required="required"></textarea>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </fieldset>
    </form>
{% endblock %}